@model IEnumerable<Demo_EF.Models.Khoa>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm" id="searchInput">
</div>

<ul id="searchList">

</ul>
